node_modules
.env
coverage
coverage.json
typechain
package-lock.json
docs

#Hardhat files
cache
artifacts

# Forge files
out
cache_forge

# forge-deploy
/generated
/deployments/localhost
/deployments/31337

.DS_Store
