[profile.default]
src = 'contracts'
out = 'gen/out'
libs = ['node_modules', 'lib']
cache_path  = 'gen/cache_forge'
broadcast = 'gen/broadcast'

solc_version='0.8.22'
evm_version='paris'
optimizer = true
optimizer_runs = 9999

remappings = [
	"solidity-bytes-utils/=node_modules/@layerzerolabs/solidity-bytes-utils/",
	"tapioca-sdk/=lib/tapioca-sdk/contracts/",
	"yieldbox/=lib/tap-yieldbox/contracts/",
	"tap-utils/=lib/tap-utils/contracts/",
	"permitc/=lib/tap-utils/lib/permitc/src/", # Needs to be init in the periph repo
	"tapioca-mocks/=lib/tapioca-mocks/contracts/",
	"tapioca-bar/=lib/tapioca-bar/contracts/",
]

[profile.default.fuzz]
max_test_rejects = 10_000
seed = "0xee1d0f7d9556539a9c0e26aed5e63556"
runs = 1000


[etherscan]
arbitrum-sepolia = { key = "${ARBITRUM_SEPOLIA_API_KEY}", url = "https://api-sepolia.arbiscan.io/api"}